<div class="col-xs-12">
    <div class="page-header">
        <h1>Sandbox</h1>
    </div>

    <button id="list-objects">List S3 objects</button>
    <button id="get-api">Get API data</button>
    <input id="create-queue__name" placeholder="New queue name" required type="text" />
    <button id="create-queue">Create SQS queue</button>
    <button id="list-queues">Get SQS queues</button>
    <input id="get-queue-url__name" placeholder="Get queue URL" required type="text" />
    <button id="get-queue-url">Get SQS queue URL</button>
    <textarea id="send-message__data"></textarea>
    <button id="send-message">Send message to SQS queue</button>
    <button id="get-messages">Get messages from SQS queue</button>
    <div id="sqs-data"></div>

</div>